
<ngb-carousel>
  <ng-template *ngFor = "let slide of slides" ngbSlide>
    <div class="picsum-img-wrapper">
      <img src ="{{slide.img}}">
    </div>
    <div class="carousel-caption">
      <h3>{{slide.name}}</h3>
      <p>{{slide.desc}}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container">

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p></p>
        <h3>Catalogo de Productos</h3>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
        <div class="controls pull-right">
            <a class="left fa fa-chevron-left btn btn-info " href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-info" href="#carousel-example" data-slide="next"></a>
        </div>
    </div>
</div>

<div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel" data-type="multi">
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="content-image">
                        <div class="img-prod">
                            <img src="assets/imgs/products/1.png" class="img-responsive" alt="a" />
                        </div>
                        <div class="slider-main-detail">
                            <div class="slider-detail">
                                <div class="product-detail">
                                    <h5 class="detail-name">Pelota dental</h5>
                                    <h5 class="detail-price">$187.87</h5>
                                </div>
                            </div>
                            <div class="cart-section">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-6 review">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-6">
                                      <a href="#" class="AddCart btn btn-info">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="content-image">
                      <div class="img-prod">
                            <img src="assets/imgs/products/2.png" class="img-responsive" alt="a" />
                        </div>
                        <div class="slider-main-detail">
                            <div class="slider-detail">
                                <div class="product-detail">
                                    <h5>Product Name</h5>
                                    <h5 class="detail-price">$187.87</h5>
                                </div>
                            </div>
                            <div class="cart-section">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-6 review">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-6">
                                        <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="content-image">
                      <div class="img-prod">
                            <img src="assets/imgs/products/3.png" class="img-responsive" alt="a" />
                        </div>
                        <div class="slider-main-detail">
                            <div class="slider-detail">
                                <div class="product-detail">
                                    <h5>Product Name</h5>
                                    <h5 class="detail-price">$187.87</h5>
                                </div>
                            </div>
                            <div class="cart-section">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-6 review">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-6">
                                        <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="content-image">
                      <div class="img-prod">
                            <img src="assets/imgs/products/4.png" class="img-responsive" alt="a" />
                        </div>
                        <div class="slider-main-detail">
                            <div class="slider-detail">
                                <div class="product-detail">
                                    <h5>Product Name</h5>
                                    <h5 class="detail-price">$187.87</h5>
                                </div>
                            </div>
                            <div class="cart-section">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-6 review">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-6">
                                        <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
           </div>
    </div>
</div>
</div>
</div>

<p> 
  test
  test
  test
  test
  test
  test
  test
  test
  test

</p> 

