<footer class="footer fixed-bottom" id="footer">
  <div class="footer-middle" style="padding: 0;">
    <div class="container">
      <section id="lab_social_icon_footer">
        <div class="container">
          <div class="text-center center-block">
            <a href="https://www.facebook.com/latiendadejuanchooo/"><i id="social-fb"
                class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-tw"
              class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://www.instagram.com/invites/contact/?i=xmlh86k67ix9&utm_content=cn8l4dy"
              class="fa fa-instagram"></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
